style.
  body {
      font-family: Arial, Helvetica, sans-serif; 
  }
  
  .mail {
     width: 100%;
     margin: 100px 0;
  }
  
  .container {
      margin: auto;
      text-align: center;
      background-color: #111;
      padding: 20px;
      width: 500px;
      border-radius: 10px;
  }
  
  .title {
      color: #ddd;
      padding: 0;
      margin: 10px 0;
  }
  
  .message {
      color: #aaa;
  }
  
  .code {
      background-color: #000;
      color: #ddd;
      padding: 5px 10px;
      font-size: 22px;
      border-radius: 7px;
      letter-spacing: 10px;
  }

.mail
    .container
        h1.title Verify your account
        p.message Please verify your account by entering the following code in the verification menu.

        .code-container
            b.code #{code}
